* { 
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Lora", Helvetica, Arial, sans-serif;
}

p {
    line-height: 20pt;
}

/*--------Header---------------*/

#banner {
    text-align: center;
    font-size: 15pt;
    padding: 15px;
    width: 100%;
    margin: 0;
    color: black;
}

.companySpotlight01 , .companySpotlight02 , .companySpotlight03 {
    text-align: center;
    width: 250px;
    height: 380px;
    margin: auto;
}

.spotlight {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 10px;
    align-items: center;
}

.companySpotlight01 img, .companySpotlight02 img , .companySpotlight03 img{
    width: 60%;
}

    
header{
    background-color: rgb(0, 54, 99);
    text-align: center;
    padding: 15px;
    color: #fff;

}

header p{
    font-size: 13pt;
    text-align: center;
}

main img {
    box-shadow: 0 0 5px #333;
}

.logo {
    width: 80px;
    height: 50px;
}

main {
    background-color: whitesmoke;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    text-align: center;
}

.hero a {
    text-decoration: none;
    color: darkblue;
}

.hero a:hover{
    color:rgb(0, 54, 99);
}

.hero p {
    font-size: 12pt;
    font-weight: lighter;
    line-height: 25pt;
    text-align: left;
    padding: 20px;
    margin-top: 50px;
}

.hero picture img {
    width: 100%;
}

.callToAction div{
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size: 18pt;
    line-height: 25pt;
    text-align: center;
    padding: 50px;
    border: 1px darkblue dashed;
}

button {
    font-family: cursive;
    background-color: rgb(0, 54, 99);
    color: white;
    font-size: 18pt;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
}

button:hover {
    border: 1px solid black;
}


.visits {
    color: gray;
}

aside{
    padding: 15px;
    background-color: rgba(125, 133, 161, 0.774);
}

aside a{
    text-decoration: none;
    color: darkblue;
}

aside p{
    margin: 5pt;
}

footer {
    background-color: rgb(0, 54, 99);
    text-align: center;
    color: #fff;
    padding: 15px;
}

footer picture img {
    width: 100%;
    padding: 5px;
}

.weather {
    background-color: rgba(121, 99, 45, 0.466);
    margin: 25px 0px 25px 0px;
    padding: 25px;
    width: 100%;
    text-align: center;
}

.weather h2 {
    text-decoration: underline;
}

.footerImg02 img {
    border: 1px green ridge;
    width: 100%;
}	

.contact {
    padding: 15px;
    line-height: 20pt;
    text-align: center ;
}


/*--------Navigation---------- */
nav {
    background-color: whitesmoke;
    font-size: 14pt;
    margin: 0px;
    padding: 15px;
}


nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    display: block;
	text-align: center;
	text-decoration: none;
    padding: 15px;
    color: black;
}

.open li {
    display: block;
}

nav a:hover {
    background-color:  rgb(0, 54, 99);
    color: white;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#toggleMenu {
    cursor: pointer;
    color: blue;
    font-size: 25px;
    text-align: left;
}

.socialMedia img {
    margin: 10px;
}
