main {
    text-align:center;
    font-weight: lighter;
    font-size: 15pt;
    margin: auto;
}

footer h2 {
    color: black;
    font-size: 13pt;
    margin-bottom: 15px;
}

@media (min-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: 250px auto;
        grid-template-rows: 85% auto;
    }
}
