* {
    font-family: 'Lora', Helvetica, Verdana, sans-serif;
}

header, footer {
text-align: center;
background-color: #919191;
padding: 10px;
}

#cards {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 5px;
padding: 5px;
margin: 5px;
background-color: whitesmoke;
justify-items: center;
}

#cards section {
text-align: center;
padding: 1rem;
border: 1px black solid;
border-radius: 5px;
background-color: #919191;
max-width: 250px;
margin-bottom: 15px;
}

#cards section * {
display: block;
margin: 0 auto;
}

#cards section img {
width: 50%;
}

@media screen and (max-width: 1300px) {
    #cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    #cards {
        grid-template-columns: 1fr;
    }
}